.you{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
	font-family: ;
}
.a{
	
	padding-left: 400px;
}
.tbl{
	height: 50px;
	margin-bottom: -40px;
}

.q{
	font-family: papyrus;
	padding-left: 10px;
}
.k{
	padding-top: -90px;
}
.btn{
	background-color: lightslategray;
	border: 0px;
	padding: 10px;
}
.x{
	padding-right: 280px;
}
.xx{
	padding-right: 280px;
}
.xxx{
	padding-right: 230px;
}
.g{
	background-color: gray;
	padding:20px;
	width: 200px;
	height: 180px;
}
.w{

	width: 100px;
	height: 20px;
	padding-left: 370px;
}
.ww{
	background-color: gray;
	width: 100px;
	height: 20px;
}
.www{
	background-color: gray;
	width: 100px;
	height: 20px;
}
.wwww{
	background-color: gray;
	width: 100px;
	height: 20px;
}
.klo{
	background-color: #f0ece5;
	padding-left: 50px;
	padding-right: 50px;

}
.klo .j{
	background-color: white;
	width: 90px;
	height: 90px;
	margin-left: 900px;
	margin-right: 900px;
}

.klo .jj{
	width: 400px;
	height: 300px;
	background-color: white;
}

.lko{
	background-color: lightgrey;
}

.lko .ktk{
	background-color: white;
	margin-top: -270px;
	margin-bottom: -320px;
}

.lko .ck{
	padding-right: 350px;

}

.lko .jjj{
	width: 50px;
	height: 50px;
	background-color: darkgrey;
}
.plo{
	background-color: darkgray;
}
.ep{
	width: 310px;
	height: 30px;
}
.sp{
	width: 310px;
	height: 30px;
}
.txt{
	height: 100px;
}
.btnn{
	width: 315px;
	background-color: lightgrey;
	border: 0;
	height: 30px;
}
.pp{
	margin-top: -40px;
}
.mn{
	padding-right: 499px;
}
.lo{
	background-color: lightslategray;
}
.wh{
	height: 50px;
}